@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stardos+Stencil:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  background: #ffffff;
  overflow: hidden;
}

header {
  height: 0px;
}

.header-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.7% 0 0.6% 0;
  background: #303030;
}

.line-header-bottom {
  position: absolut;
  background: #afd5df;
  height: 7px;
  box-shadow: 0px 2px 8px #afd5df, 0px -2px 8px #afd5df;
  width: 100%;
  z-index: 100;
  margin: 0 70px 0 70px;
  transition: 0.4s ease-in;
  animation: toLogo 2.1s linear;
}

.line-header-bottom:hover {
  animation: glow 0.2s linear;
  height: 1px;
  box-shadow: 4px 4px 16px #afd5df, 4px -4px 16px #afd5df;
}

.logo-box {
  background: transparent;
  margin: 2% 0 2% 2%;
  transition: 0.4s ease-in;
  animation: toLogo 2.1s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.logo-pic {
  background: transparent;
  width: 250px;
  cursor: pointer;
  transition: 0.4s ease-in;
  padding: 0 30px 0 30px;
}
.logo-pic:hover {
}

.start-box {
  background-image: url(../src/assets/star-wars.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
  background-size: cover;
  height: 100vh;
}

.start-box:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

button {
  padding: 0;
}

.start-btm-box {
  display: flex;
  background: transparent;
  justify-content: center;
  justify-items: center;
  padding-top: 0px;
  transition: 0.4s ease-in;
  animation: toLogo 2.1s linear;
}

.btm-persons {
  background: transparent;
  margin: 0 20px 0 0;
  cursor: pointer;
  font-family: Zilla Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 35px;
  color: #224150;
  user-select: none;
  border: none;
  outline: none;
  transition: 0.4s ease-in;
  z-index: 1;
}

.btm-persons:hover {
  color: #afd5df;
  text-shadow: 0px 2px 8px #afd5df, 0px -2px 8px #afd5df;
  font-size: 2em;
}

.btm-planets {
  background: transparent;
  margin: 0 20px 0 20px;
  cursor: pointer;
  font-family: Zilla Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 35px;
  color: #224150;
  user-select: none;
  border: none;
  outline: none;
  transition: 0.4s ease-in;
  z-index: 1;
}

.btm-planets:hover {
  color: #afd5df;
  text-shadow: 0px 2px 8px #afd5df, 0px -2px 8px #afd5df;
  font-size: 2em;
}

.btm-favourites {
  background: transparent;
  margin: 0 0 0 20px;
  cursor: pointer;
  font-family: Zilla Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 35px;
  color: #224150;
  user-select: none;
  border: none;
  outline: none;
  transition: 0.4s ease-in;
  z-index: 1;
}

/* FAVO MENU */

li {
  display: inline-block;
  color: #afd5df;
  text-align: left;
  text-decoration: none;
  z-index: 1;
}

li:hover,
.dropdown:hover {
  color: #afd5df;
  cursor: pointer;
}

.dropdown:hover .btm-favourites {
  color: #afd5df;
  text-shadow: 0px 2px 8px #afd5df, 0px -2px 8px #afd5df;
  animation: miniGlow 1s infinite;
  font-size: 2em;
}

.dropdown:hover .dropdown-content div:first-child {
  animation: miniGlowReverse 1.5s;
  transition: 0.4s ease-in;
  opacity: 1;
}

.dropdown:hover .dropdown-content div:nth-child(2) {
  animation: miniGlowReverse 3s;
  transition: 0.4s ease-in;
  opacity: 1;
}

.dropdown:hover .dropdown-content div:nth-child(3) {
  animation: miniGlowReverse 4s;
  transition: 0.4s ease-in;
  opacity: 1;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  background-repeat: no-repeat;
  display: none;
  position: absolute;
  width: 150px;
  height: 190px;
  z-index: 1;
  color: #224150;
  padding-top: 0.5px;
  margin-top: -1px;
  transition: 0.8s ease-in;
  font-family: Zilla Slab;
}

.dropdown-content div {
  position: relative;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: Zilla Slab;
  margin-top: 17px;
  margin-left: 25px;
  font-size: 18px;
  opacity: 0.8;
}

.dropdown-content :hover {
  color: #afd5df;
  cursor: pointer;
  transition: opacity 0.5s ease-in;
  opacity: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.btm-favourites:hover {
  color: #afd5df;
  text-shadow: 0px 2px 8px #afd5df, 0px -2px 8px #afd5df;
  transition: 0.4s ease-in;
}

.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  height: 1000px;
  font-family: "Tenali Ramakrishna", sans-serif;
  font-size: 590%;
  font-weight: 900;
  letter-spacing: 5px;
  line-height: 90%;
  perspective: 2500px;
  text-align: justify;
  box-sizing: border-box;
  color: #afd5df;
  user-select: none;
}

.crawl {
  position: relative;
  top: -2222px;
  animation: crawl 1.5s linear;
  animation-iteration-count: 1;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  padding: 200px 10% 0 10%;
}

.crawl > .title {
  font-size: 90%;
  text-align: center;
  /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 100); */
}

.crawl > .title h1 {
  margin: 0 0 100px;
  text-transform: uppercase;
  color: #afd5df;
  /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 100); */
}

.crawl > .title p {
  color: #afd5df;
  /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 100); */
}

@keyframes crawl {
  0% {
    top: 0px;
    transform: rotateX(70deg);
    width: 750px;
  }
  80% {
    transform: rotateX(70deg);
    opacity: 0%;
  }

  100% {
    top: -3000px;
    transform: rotateX(0deg) translateY(20px);
    top: 100px;
    opacity: 100%;
    font-size: 0.4em;
    line-height: 130%;
    width: 750px;
  }
}

@keyframes miniGlow {
  from {
    text-shadow: 0 4 12px #afd5df, 0 -4 -12px #afd5df;
  }

  to {
    text-shadow: 0px 2px 8px #afd5df, 0px -2px 8px #afd5df;
  }
}

@keyframes miniGlowReverse {
  from {
    text-shadow: 0px 2px 8px #afd5df, 0px -2px 8px #afd5df;
  }

  to {
    text-shadow: 0 4 12px #afd5df, 0 -4 -12px #afd5df;
  }
}

@keyframes miniGlowBox {
  from {
    box-shadow: 0 4 12px #afd5df, 0 -4 -12px #afd5df;
  }

  to {
    box-shadow: 0px 2px 8px #afd5df, 0px -2px 8px #afd5df;
  }
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #afd5df, 0 0 40px #afd5df,
      0 0 50px #afd5df, 0 0 60px #afd5df, 0 0 70px #afd5df;
  }

  to {
    box-shadow: 0 0 20px #fff, 0 0 30px #afd5df, 0 0 40px #afd5df,
      0 0 50px #afd5df, 0 0 60px #afd5df, 0 0 70px #afd5df, 0 0 80px #afd5df;
  }
}

@keyframes toLogo {
  0% {
    transform: scale(0.2);
    opacity: 0%;
    z-index: 0;
  }

  90% {
    transform: scale(0.3);
    opacity: 30%;
    z-index: 0;
  }

  100% {
    transform: scale(1);
    opacity: 100%;
    z-index: 100;
  }
}

@media (max-width: 1105px) {
  .header-box {
    flex-direction: column;
  }
  .card-raid {
  }
}

@media (max-width: 400px) {
  .start-box:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .logo-box {
    margin: 20% 0 10%;
  }

  .logo-pic {
    width: 180px;
  }

  .star-wars {
    display: flex;
    justify-content: center;
    position: relative;
    height: 1000px;
    font-family: "Zilla Slab", serif;
    font-size: 350%;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 100%;
    perspective: 300px;
    text-align: justify;
    box-sizing: border-box;
    color: #afd5df;
    text-shadow: 0px 5px 1px rgba(0, 0, 0, 0.25);
    user-select: none;
    transform: rotateX(0deg) translateY(-70px) translateZ(0);
  }

  .start-btm-box {
    display: flex;
    background: #afd5df;
    justify-content: space-evenly;
    justify-items: center;
    padding-top: 2px;
  }

  .btm-persons {
    background: transparent;
    width: 100px;
    cursor: pointer;
    font-family: Zilla Slab;
    color: transparent;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 35px;
    color: #3b6d84;
    user-select: none;
    border: none;
    outline: none;
  }

  .btm-planets {
    background: transparent;
    width: 100px;
    cursor: pointer;
    font-family: Zilla Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 35px;
    color: #3b6d84;
    user-select: none;
    border: none;
    outline: none;
  }

  .btm-favourites {
    background: transparent;
    width: 100px;
    cursor: pointer;
    font-family: Zilla Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 35px;
    color: #3b6d84;
    user-select: none;
    border: none;
    outline: none;
  }
}

/* PERSONS-PAGE */
.persons-box:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.persons-box {
  display: flex;
  flex-direction: column;
  background-image: url(../src/assets/star-wars.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
  background-size: cover;
  height: 100vh;
  padding-top: 300px;
}
.card-raid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card-box {
}

.card-text {
}

.card-title {
}

.card-info {
}

/* PLANETS-PAGE */
.planets-box:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.planets-box {
  background-image: url(../src/assets/star-wars.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
  background-size: cover;
  height: 100vh;
}

.card-box {
}

.card-text {
}

.card-title {
}

.card-info {
}

/* FAVOURITES-PAGE */
.favourites-box:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.favourites-box {
  background-image: url(../src/assets/star-wars.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
  background-size: cover;
  height: 100vh;
}

.card-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  z-index: 100;
  background: #303030;
  border: 3px solid #afd5df;
  box-sizing: border-box;
  border-radius: 20px;
  margin-bottom: 60px;
  padding: 40px;
  transition: 1s ease-in;
}

.card-box:hover {
  box-shadow: 0px 2px 16px #afd5df, 0px -2px 16px #afd5df;
  transition: 0.1s ease-in;
}

.card-box:hover .card-title {
  text-shadow: 0px 2px 16px #afd5df, 0px -2px 16px #afd5df;
  transition: 0.1s ease-in;
}

.card-text {
}

.card-title {
  font-family: Zilla Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 38px;
  text-align: center;
  z-index: 100;
  color: #afd5df;
  padding-bottom: 35px;
}

.card-info {
  font-family: Zilla Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 29px;
  z-index: 100;
  color: #3b6d84;
  padding: 0 5px 35px 5px;
}

.card-btm {
  width: 219px;
  height: 46px;
  z-index: 100;
  background: rgba(242, 213, 145, 0.2);
  opacity: 0.4;
  border: 4px solid rgba(159, 145, 119, 0.6);
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  font-family: Zilla Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  padding: 5px 10px 5px 10px;
  color: #afd5df;
  transition: 0.5s ease-in;
}

.card-btm:hover {
  animation: miniGlowBox 1s infinite;
  color: #afd5df;
  background: #637276;
  opacity: 1;
}
